@import 'vars';

.shopping-cart-detail {
    width: 360px;
    height: 100vh;
    padding: 24px;
    position: absolute;
    right: 0;
    background-color: var(--white);
    top: 60px;
    bottom: 0;
    border-radius: 4px;
    border: 1px solid var(--very-light-pink);
    z-index: 1;
    max-height: 100vh;
}

.order-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.shopping-cart-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.shopping-cart-title-container img {
    transform: rotate(180deg);
    margin-right: 12px;
}

.shopping-cart-title {
    font-size: var(--lg);
    font-weight: bold;
}


.order-content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: calc(100vh - 252px);
    padding-right: 8px;
}

.order-content::-webkit-scrollbar {
    width: 8px;
}

.order-content::-webkit-scrollbar-track {
    background: var(--white);

}

.order-content::-webkit-scrollbar-thumb {
    background: var(--very-light-pink);
    border: 1px solid var(--white);
}


.order-content::-webkit-scrollbar-thumb:hover {
    background: var(--very-light-pink);
    border-color: transparent;
}




.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.shopping-cart figure {
    margin: 0;
}

.shopping-cart figure img {
    width: 72px;
    height: 72px;
    border-radius: 12px;
    object-fit: cover;
}

.shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 500;
}

.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

.order-total {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--text-input-field);
    gap: 16px;
    align-items: center;
    margin: 12px 0;
    border-radius: 8px;
    padding: 12px 24px;
}

.order-total p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order-total p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.order-total p:nth-child(2) {
    text-align: end;
    font-size: var(--md);
    font-weight: bold;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 44px;
}

@media (max-width: 640px) {
    .product-detail {
        width: 100%;
    }
}